@import './reset.css';

* {
	margin: 0;
	padding: 0;
}

html,
body {
	overflow: hidden;
	font-family: sans-serif;
	color: white;
	background-color: black;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-size: 0.875rem;
	line-height: 1.25rem;
}

#webgl {
	outline: none;
}

div.info {
	position: absolute;
	top: 0;
	left: 0;
	padding: 1rem;
	opacity: 0;
	animation: fadeIn 2s ease-out 4s forwards;
}

#download:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

#download {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	padding: 0.5rem 1rem;

	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: calc(0.5rem - 2px);

	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;

	font-weight: 500;
	opacity: 0;
	animation: fadeIn 2s ease-out 4s forwards;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}
